/* Common Css Area Start */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "THICCCBOI";
  src: url("../public/thicccboi/fonts/TTF/THICCCBOI-ThicccAF.ttf")
    format("truetype");
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  vertical-align: middle;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  line-height: 0.8;
}

ul {
  padding: 0;
}

/* Common Css Area End */
